body{
    display: flex;
    align-items: center;
    justify-content:center;
   height: 100vh;
   margin:0;
background: rgb(219, 210, 204);
}
.main{
    display: grid;
    grid-template-columns:repeat(8,60px) ;
    grid-template-rows: repeat(8,60px);
    border:solid black 2px;

}
.box{
    height: 60px;
    width: 60px;
}

.box:nth-child(even){
    background:burlywood;
}
.box:nth-child(odd){
    background-color: brown;
}
.box-even:nth-child(even){
    background-color: brown;
}
.box-even:nth-child(odd){
    background: burlywood;
}
